*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.check {
  position: absolute;
  top: 25px;
  right: 15px;
}

input[type="checkbox"]{
  height: 50px;
  width: 100px;
  border-radius: 30px;
  -webkit-appearance: none;
  outline: none;
  background: white;
  transition: .6s ease;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192), -2px -2px 7px rgba(0, 0, 0, 0.148);
}

input[type="checkbox"]:checked {
   background: rgb(61, 61, 61);
   box-shadow: -1000px 1000px 0 1600px black;
}

input[type="checkbox"]::after {
  content: '';
  height: 40px;
  width: 40px;
  background-color: black;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 5px;
  transition: .3s ease;
}

input[type="checkbox"]:checked::after{
  transform: translateX(46px);
  background: white;
}